.section-map { margin: 0; }
.map-title { font-weight: bold; font-size: 60px; line-height: 72px; margin-bottom: 80px; }
.wrapper-map-img { /*height: 700px; width: 1470px; position: absolute; right: 460px;*/}
.wrapper-map-img img:first-child { max-height: 100%; }
.map-and-list-salon { height: 700px; }
.list-salon { height: 100%; overflow: scroll; }
.fixed-list-salon div div:nth-child(1) { padding: 40px; background: #F0F0F0; border-radius: 20px; font-weight: bold; font-size: 24px; line-height: 29px; }
.fixed-list-salon div div:nth-child(2) { padding: 40px; padding-top: 10px; background: #F0F0F0; border-radius: 0 0 20px 20px; transform: translateY(-35px); font-size: 16px; line-height: 19px; font-weight: normal; }
.list-salon-text-2 { font-size: 16px; line-height: 19px; font-weight: normal; }
.fixed-list-salon div:first-child { margin-bottom: 20px; }
.btn-list-salon { font-weight: bold; font-size: 16px; line-height: 19px; text-transform: uppercase; margin-top: 30px; }
.map-icon-1 { position: absolute; left: 627px; top: 351px}

@media screen and (max-width: 1410px) {
    .fixed-list-salon div div:nth-child(1) { font-size: 20px; line-height: 24px; }
    .wrapper-map-img { width: 1090px; position: absolute; right: 720px;}
    .wrapper-map-img img:first-child { transform: translateX(100px); }
}

@media screen and (max-width: 1090px) {

}
@media screen and (max-width: 680px) {
 
}
@media screen and (max-width: 320px) {

}