.free-steps { background: #F0F0F0; margin-top: 248px;}
.title-free-steps { font-weight: bold; font-size: 60px; line-height: 72px; transform: translateY(-110px);}
.text-free-steps { margin-top: 60px; margin-bottom: 40px; transform: translateY(-110px); }
.big-number { font-weight: bold; font-size: 200px; line-height: 240px; color: #FDB73B; }
.wrapper-text-free-steps { position: relative; transform: translateY(-110px); }
.text-step { font-weight: bold; font-size: 24px; line-height: 29px; position: absolute; left: 60px; top: 150px;}
.btn-text-free-steps {
    cursor: pointer;
    height: 80px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s linear;
    margin-top: 45px;
    margin-bottom: 176px;
}
.btn-text-free-steps:hover { background: #D21F39; }

.ui-loader { display: none; }
#stories { overflow-y: hidden; }

.free-steps .row.col-12 { padding: 0; }

@media screen and (max-width: 1410px) {
    .title-free-steps { font-size: 52px; line-height: 62px; transform: translateY(-90px);}
    .big-number { font-size: 160px; line-height: 192px; }
    .text-step { font-size: 20px; line-height: 24px; left: 40px; top: 119px;}
    .btn-text-free-steps  { margin-top: 10px; margin-bottom: 100px;}
    .text-free-steps { font-size: 18px; line-height: 22px; }
}
@media screen and (max-width: 1090px) {
    .title-free-steps { transform: translateY(-153px);}
    .text-free-steps { transform: translateY(-173px);     margin-bottom: 57px;}
    .wrapper-text-free-steps { transform: translateY(-170px); }
    .btn-text-free-steps { padding-top: 23px; margin-bottom: 232px;}
    .title-free-steps span { white-space: pre; }
    .title-free-steps .tfs { white-space: normal;  max-width: 415px; }
    .free-steps {
      margin-top: 249px;
    }
    .ts-2, .ts-3 { width: 188px; }
    .free-steps-num { margin-bottom: -60px; }
}
@media screen and (max-width: 680px) {
    .title-free-steps { font-size: 36px; line-height: 43px; transform: translateY(-40px);}
    .text-free-steps { font-size: 16px; line-height: 19px; transform: translateY(-65px);}
    .big-number { font-size: 120px; line-height: 144px; }
    .wrapper-text-free-steps { transform: translateY(-45px); }
    .wrapper-text-free-steps-3 { margin-top: 51px; }
    .text-step { font-size: 20px; line-height: 24px; left: 40px; top: 85px; }
    .btn-text-free-steps { padding-top: 31px; margin-bottom: 120px; margin-top: 90px; font-size: 12px; line-height: 14px; }
}
@media screen and (max-width: 320px) {
    .title-free-steps { transform: translateY(-105px);}
    .text-free-steps { transform: translateY(-115px);}
    .wrapper-text-free-steps { transform: translateY(-95px); margin-top:40px; }
    .wrapper-text-free-steps-3 { margin-top:110px; }
    .btn-text-free-steps { margin-bottom: 80px; margin-top: 50px; }
}
