@media screen and (max-width: 1410px) {
    .wrapper-main {
        height: 600px;
    }
    /*главый контейнер*/
    .container-fluid {
        padding: 0 40px;
    }
    /*изображение на главном модуле*/
    .main-img {
        position: absolute;
        width: 1030px;
        height: 600px;
        left: 380px;
        top: 0;
        background: url("../../img/main1410.jpg") no-repeat;
    }
    .light-main-img {
        position: absolute;
        z-index: 1;
        width: 510px;
        height: 600px;
        left: 380px;
        top: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
    }
    /*Название главного модуля*/
    .main-title {
        width: 633px;
        height: 144px;
        left: 40px;
        top: 105px;
        font-size: 60px;
        line-height: 72px;
    }
    /*кнопка на главном модуле*/
    .main-btn {
        width: 310px;
        height: 80px;
        left: 40px;
        top: 309px;
        font-size: 14px;
        line-height: 17px;
    }
    /*текс на главном модуле*/
    .main-text {
        width: 310px;
        height: 66px;
        left: 40px;
        top: 429px;
        font-size: 18px;
        line-height: 22px;
    }
    /*Плюсики*/
    .circle-plus-1, .wrapper-circle-plus-1 {
        left: 161px;
        top: 330px;
    }
    .circle-plus-2, .wrapper-circle-plus-2 {
        left: 326px;
        top: 196px;
    }
    .circle-plus-3, .wrapper-circle-plus-3 {
        left: 581px;
        top: 470px;
    }
    .circle-plus-4, .wrapper-circle-plus-4 {
        left: 801px;
        top: 93px;
    }
    .circle-plus-5, .wrapper-circle-plus-5 {
        right: 116px;
        top: 457px;
    }
    /*подсказка на плюсиках*/
    .main-prompt {
        width: 200px;
    }
    /*popups-design-main*/
    .popup {
        width: 48.94%;
    }
    .popup-title-free-design {
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-free-design {
        font-size: 18px;
        line-height: 22px;
    }
    .form-popup {
        margin-top: 60px;
    }
    .input-popup {
        width: 47.2%;
        font-size: 14px;
        line-height: 17px;
    }
    .input-popup::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .popup-label-checkbox {
        margin-top: 30px;
        display: block;
        position: relative;
    }
    .text-checkbox {
        width: 510px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 17px;
    }
    .btn-popup-free-design {
        width: 47.2%;
        font-size: 14px;
        line-height: 17px;
    }
/*popup-record-salon*/
    .popup-record-salon .input-popup {
        width: 47.15%;
    }
    .popup-record-salon .input-popup::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .popup-title-record-salon {
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-record-salon {
        font-size: 18px;
        line-height: 22px;
    }
    .popup-label-checkbox-record-salon{
        width: 47.15%;
        display: inline-block;
    }
/*popup-plus*/
    .popup-plus .btn-popup-free-design {
        width: 252px;
    }
    .popup-title-plus {
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-plus {
        font-size: 18px;
        line-height: 22px;
        margin-top: 0px;
    }
    .popup-plus-img {
        width: 720px;
        height: 400px;
    }
    .popup-plus-img img {
        height: 360px;
        left: -70px;
        top: -25px
    }
    .popup-plus-img-light {
        width: 720px;
        height: 400px;
        left: -70px;
        top: -25px;
    }
    .h2-title {
      	font-size: 52px;
    	  line-height: 62px;
    }
}
