@font-face {
	font-family: 'PFBeauSansPro';
	src: url('../../fonts/pfbeausanspro-reg.eot');
	src: local('☺'), url('../../fonts/pfbeausanspro-reg.woff') format('woff'), url('../../fonts/pfbeausanspro-reg.ttf') format('truetype'), url('../../fonts/pfbeausanspro-reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFBeauSansPro';
	src: url('../../fonts/pfbeausanspro-bold.eot');
	src: local('☺'), url('../../fonts/pfbeausanspro-bold.woff') format('woff'), url('../../fonts/pfbeausanspro-bold.ttf') format('truetype'), url('../../fonts/pfbeausanspro-bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}


body {
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
}
a { text-decoration: underline; color: #787878; font-weight: bold; }
.main-text-a { cursor: pointer; text-decoration: underline; color: #787878; font-weight: bold; transition: .5s; }
.main-text-a:hover { color: #B22432; text-decoration: none; }
a:hover { color: #787878; }

/*.wrapper-main {
    position: relative;
    height: 820px;
}*/
/*главый контейнер*/
.container-fluid {
    position: relative;
    margin: 0;
    padding: 0 36px 0 80px;
}
/*изображение на главном модуле*/
.main-img {
    position: absolute;
    width: 1390px;
    height: 700px;
    left: 530px;
    top: 120px;
    background: url("../../img/main1920.jpg") no-repeat;
    background-size: auto 100%;
    overflow-x: hidden;
    border-radius: 20px 0px 0px 20px;
    background-size: contain;
}
.dark-main-img  {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    opacity: 0;
    border-radius: 20px 0px 0px 20px;
    transition: .5s linear;
 }
.light-main-img {
    position: absolute;
    z-index: 1;
    width: 695px;
    height: 700px;
    left: 530px;
    top: 120px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
}
/*Название главного модуля*/
.main-title {
    position: absolute;
    z-index: 2;
    width: 760px;
    height: 172px;
    left: 80px;
    top: 118px;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
}
/*кнопка на главном модуле*/
.main-btn {
    position: absolute;
    cursor: pointer;
    width: 410px;
    height: 80px;
    left: 80px;
    top: 490px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s linear;
}
.main-btn:hover { background: #D21F39; }
/*текс на главном модуле*/
.main-text {
    position: absolute;
    width: 410px;
    height: 72px;
    left: 80px;
    top: 630px;
}
/*плюсики*/
.circle-plus {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FDB73B;
    border-radius: 50%;
    transition: .5s linear;
}
.horizontal-line {
    position: absolute;
    width: 24px;
    height: 4px;
    background: #B22432;
    border-radius: 5px;
    margin: 26px 16px;
    transition-property: background;
    transition-duration: 1s;
    transition: .5s linear;
}
.vertical-line {
    width: 4px;
    height: 24px;
    background: #B22432;
    border-radius: 5px;
    margin: 16px 26px;
    transition: .5s linear;
}
.circle-plus-1, .wrapper-circle-plus-1 {
    position: absolute;
    z-index: 3;
    left: 261px;
    top: 390px;
}
.circle-plus-2, .wrapper-circle-plus-2 {
    position: absolute;
    z-index: 3;
    left: 486px;
    top: 226px;
}
.circle-plus-3, .wrapper-circle-plus-3 {
    position: absolute;
    z-index: 3;
    left: 782px;
    top: 561px;
}
.circle-plus-4, .wrapper-circle-plus-4 {
    position: absolute;
    z-index: 3;
    left: 1041px;
    top: 133px;
}
.circle-plus-5, .wrapper-circle-plus-5 {
    position: absolute;
    z-index: 3;
    right: 229px;
    top: 480px;
}
.wrapper-circle-plus {
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #FDB73B;
    transition: transform 1s;
}
.wrapper-circle-plus:hover ~ .dark-main-img {
    opacity: .2;
}
.wrapper-circle-plus:hover {
    transform: scale(1.3);
}
.wrapper-circle-plus:hover + .circle-plus {
    background: #FDB73B;
}
.wrapper-circle-plus:hover + .circle-plus .horizontal-line {
    background: #fff;
}
.wrapper-circle-plus:hover + .circle-plus .vertical-line {
    background: #fff;
}
/*подсказка на плюсиках*/
.main-prompt {
    z-index: 5;
    position: absolute;
    display: none;
    width: 240px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
/*overlay_popup*/
.overlay_popup {
    display: none;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .2;
}
.overlay_popup_like_design {
    display: none;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .2;
}
.popup {
    /*popups-design-main*/
    position: fixed;
    overflow-y: scroll;
    display: none;
    z-index: 10;
    width: 48.96%;
    height: 100vh;
    right: 0;
    background: #fff;
		/*fix*/
		padding-left: 40px;
    background-clip: content-box;
    box-sizing: content-box;
    overflow-x: hidden;
}
.popup::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.popup-close {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    background: url("../../img/close_popup1090.jpg") no-repeat;
}
.popup-close:hover {
    background: url("../../img/close_popup_hover1090.jpg") no-repeat;
}
.close-like-design {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    background: url("../../img/close_popup1090.jpg") no-repeat;
}
.close-like-design:hover {
    background: url("../../img/close_popup_hover1090.jpg") no-repeat;
}
.popup-title {
    position: relative;
    z-index: 11;
    margin-top: 40px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}
.popup-text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
		letter-spacing: -0.14;
}
.form-popup {
    margin-top: 60px;
}
.input-popup {
    padding: 0 60px 0 60px;
    width: 47.6%;
    height: 80px;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 40px;
    outline:none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.input-popup:hover {
    border: 1px solid #000;
}
.input-popup:focus {
    border: 1px solid #000;
}
.input-popup::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #787878;
}
.input-popup:focus::placeholder { color: transparent; }
.popup-free-design__name {
    margin-right: 20px;
}
.popup-label-checkbox {
    margin-top: 30px;
    position: relative;
}
.text-checkbox {
    position: absolute;
    width: 720px;
    /* top: 11px; */
    top: 50%;
transform: translate(0,-50%);
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
		letter-spacing: -0.14;
}
.text-checkbox a { font-weight: 300; color: #000; }

.checkbox-popup {
    display: none;
}
.fake-checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #B7B7B7;
    border-radius: 40px;
    position: relative;
}
.fake-checkbox::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 40px;
    background: #FDB73B;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .3s;
}
.checkbox-popup:checked + .fake-checkbox::before {
    opacity: 1;
}
.fake-checkbox:hover {
    border: 1px solid #000;
}
.popup-label-checkbox:hover .fake-checkbox {
    border: 1px solid #000;
}
.btn-popup-free-design {
    position: relative;
    cursor: pointer;
    width: 47.6%;
    height: 80px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 80px;
}
.btn-popup-free-design:hover { background: #D21F39; }
/*popup-record-salon*/
.popup-record-salon {
    display: none;
}
.popup-record-salon .input-popup {
    width: 47.55%;
}
.popup-record-salon__name {
    margin-right: 20px;
}
.popup-label-checkbox-record-salon{
    width: 47.55%;
}
.popup-label-checkbox-record-salon .text-checkbox{
    width: 80%;
    margin-top: 6px;
}
.popup-label-checkbox-record-salon .fake-checkbox {
    transform: translate(0,15px);
}
.popup-record-salon__email {
    margin-right: 20px;
}
/*popup-plus*/
.popup-plus {
    display: none;
    position: fixed;
}
.popup-plus .btn-popup-free-design {
    width: 271px;
    /* margin-bottom: 20px; */
}
.popup-plus-img {
    position: relative;
    width: 51.04%;
    height: 460px;
}
.popup-plus-img img {
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    height: 460px;
    left: -120px;
    top: -34px
}
.popup-plus-img-light {
    position: absolute;
    z-index: 10;
    width: 980px;
    height: 230px;
    left: -120px;
    top: -34px;
    border-radius: 20px 0px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
}
.section-1 {
    position: relative;
    background: #000;
}

/*скопировала из i-love-title*/
/* .cards-title {
  	font-weight: bold;
	  font-size: 60px;
	  line-height: 62px;
} */

.region-mobile { display: none; }
.h2-title {
  	font-weight: bold;
	  font-size: 60px;
	  line-height: 72px;
		padding-left: 0;
}


#compact-down .col-md-3:nth-child(3) .wrapper-card-img { max-height: 380px; }
.popup-offer .popup-plus-img { top: 74px; height: 482px;     margin-bottom: 93px; }
.popup-offer .popup-plus-img img { height: 482px; }
.popup-plus-img + .popup-title { font-size: 36px; }
.popup-plus-img + .popup-title + .popup-text { margin-top: 12px; }
.popup-plus-img + .popup-title + .popup-text + .form-popup { margin-top: 40px; }

.btn { cursor: pointer;
    width: 410px;
    height: 80px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s linear;}

.kitchen-test .h2-title { margin-bottom: 60px; }
.kitchen-test .img-test { width: 100%; }
.test-btn { margin-top: 67px; width: 100%; }

.popup-test { position: fixed; width: 100vw !important; margin-top: 0; padding: 0 0 40px; }
.test-title { font-weight: bold; font-size: 36px; line-height: 43px; padding-top: 10px; }
.test-about-kitchen { font-size: 24px;
line-height: 29px; }
.popup-label-checkbox:hover { cursor: pointer; }
.popup-test  .popup-title { margin-top: 50px; }
.popup-test  .btn-popup-test { width: 100%; margin-top: 60px;
    background: #FFFFFF;
    border: 1px dashed #505050;
    box-sizing: border-box;
    border-radius: 40px;
    height: 80px;

    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-top: 31px;
    transition: .5s linear; }
		.btn-popup-test:hover {
		    color: #fff;
		    background: #D21F39;
		    border: none;
		}
.popup-test .popup-label-checkbox:hover .text-checkbox { color: #B22432; }
.popup-test .popup-label-checkbox:hover .fake-checkbox { background: 		  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADvSURBVHgBpVOxDYNADPSbAtFlBDYII4SSCtgkGwAbJJMAoqBMRmCDMEI6RAPxoRAhFEX/n2uwH/v+bN0r2qFpmpPjOLFSKpHUx9k8z53knYRFFEX9tl6tQVmWB8/zMik+0w8I0WUYhiJN0+eHAM2u697kZ0AagKJxHEOQMA5ws27zW0WAniVu29aX74PsEEJBRpaYpilhmUdb+h7MHLPJ7F/gM/0JEPRkCZgLO6jJEvADdlCRPQoWb9+F6UqGQA/exbJEsWUOOQbNsHKOeCGAp+FtHSWoWd8BcrUvgLWlKJfwuPFIL66rxTgVRt7WvwDunHA3GytNqQAAAABJRU5ErkJggg==') center no-repeat;
}
.popup-test  .checkbox-popup:checked + .fake-checkbox + .text-checkbox { color: #B22432; }
.test-img img { width: 100%; height: auto; position: relative; top: -9px; max-width: 370px; }
.main-header { font-size: 14px; line-height: 17px; padding: 30px 0 25px; }
.menu-item { text-decoration: none; color: #000; text-transform: uppercase; margin: 0 3.3% 0 0; }
.ph-number { font-weight: bold; font-size: 30px; line-height: 36px; }
.header-but { display: none; }
.region {     padding: 6px 0 19px; }
.region span { font-weight: bold; }
.call-di {     padding: 6px 0; }
.ph-number {     padding: 0 11px 0 14px;}
.call-free { font-size: 12px; line-height: 14px; max-width: 74px; color: #787878; }
.dn { display: none !important; }
.footer.container-fluid { font-size: 14px; line-height: 17px;  padding-top: 73px; padding-bottom: 80px; }
.factory { font-size: 16px; line-height: 19px; padding: 38px 0 0; }
.footer .logo { position: relative; top: 6px; }
.footer a {color: #787878; font-weight: normal; text-decoration: underline; }
.footer a {color: #787878; font-weight: normal; text-decoration: underline; }
.base-service.container-fluid { background: #F0F0F0;
        margin-top: 47px; padding-bottom: 272px; margin-bottom: 139px; }

.bs-items .bs-img { transition: .5s;     padding: 59px 0 0 26px; }
/* .wrapper-card-items:hover .card-item .bs-img {
    transform: translateY(-20px);
} */
.wrapper-card-items { transition: .5s; }
.wrapper-card-items:hover { transform: translateY(-20px); }
.wrapper-card-items:hover .card-title { color: #D21F39; }
.footer .col-sm-3:first-child { padding-left: 0; }

.base-service .wrapper-card-items:hover .card-item .wrapper-card-text .card-title{
    color: #D21F39;
}
/* .base-service .wrapper-card-items:hover .card-item .wrapper-card-text,
.base-service .wrapper-card-items:hover .card-item .wrapper-card-text  .card-price{
    transform: translateY(-20px);
} */



/* .bs-items.wrapper-card-items:hover .card-item  {
    transform: translateY(-20px);
} */
.bs-items.wrapper-card-items .card-item  {
	cursor: default;
	min-height: 240px;
	background: #fff;
	background-clip: content-box;
	border-radius: 20px; transition: .5s;
}
.bs-items.wrapper-card-items {     cursor: default;
	min-height: 240px;
}
.base-service .title-free-steps {transform: translateY(-36px);}

.wrapper-flamp { max-height: 600px; }
.reviews { margin: 140px 0; }
.reviews-flamp img { width: 100%; }
.sc-title { font-size: 36px; line-height: 43px;     padding: 0 0 59px; }
.sc-vk:before { transition: .5s; border-radius: 50%; content: ""; padding: 10px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAMCAYAAACNzvbFAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF5SURBVHgBlZNLUsJAEIa7Ow+LHUfIEWSnRqvCxiqyghPIDeQGyAnAEwgnADeEnViKuuQIuYHs5JGZdkJIGCBC+VclVZNMf/PNC8XI/QaGIiQJaW6VsDaexY3l8LJhILVBC7Osmf7nIG1Hw5sqosj6sIQWIcNUq3HE2cJLG9birAsIMx0qGYt6OwGikz5MFJKQ/Kp3IqT7rEAZs5TP8Eei4KqewLJ0rcr7mMyl3dFtGMBbBdcenAgHFw4CNLfKMFuCaCViykYKftQLDOb2SSgbfd1SqLUsVL7CNTR+HdginPPIzQUbpNY9cJ/iPpkk8sD2J52t9CbJLsq+DiDgB2as6oB8690TgfrPKHC76sMd/D+hWs/yzvTTGHOrocYNj1WrQcfM0Nv77NhgvPyozTuAxptGIMvHwJHknulP6sxU2zvDazD3vSIdmKgp0Nwu5djsxPTfBoK4vA+GwqpJeQWxcWyjLsYGvjFXAFQ3Ju1n335M12BtZhKg/gv2OKsblgqqjAAAAABJRU5ErkJggg==') center no-repeat; }
.sc-inst:before { transition: .5s; border-radius: 50%; content: ""; padding: 10px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGNSURBVHgBpVNNTsJQEJ55r1R3cgP1BrgzxUS2ZaOcwHgDPAFwArmB9Qa40CauagLGnfUE9gjdGQvvjW9aSmopkuIkzUzm5+s3b2YweXZa1gLvCKEFu0mkNPVQ+c4nAB7BPwQRQlEXRBHcSHeG/AlQx+wjgpaAmoKI4cp236Lcrg9Eqlnlt/4qIoCANL2kAALPEaAjBF7NH510MMY+3AqkAUcNdzos+ub+2VAQDISAy3J+sTWPAIOcSRmEhX2GVZqz1N4akJnCNWmdtqFJP8BGpnTP2uzOB9dUMeLfNGGLaKI0x7zPQdH/C4iAItYWiotNQHksH0IlUON7zzOsYvNGHfKdQRmEfRxjey50UIyZE2kTG7yprJOndl8i3C7jkaE5SRMZfHmPxYnm9Wvjt7uz8cJ3YlM4SM8HoZ+1naLFSsPI7k7H5brKPbLcV4/800CB6JDOWJjDCuWXPZG9IK6qWbWmdHKiElmZtEmkrZpS2O8ZI4LQUG6xQ+5DTZG5EQllkVmqbOw7iSGiJPV+ALRtmwYq61kHAAAAAElFTkSuQmCC') center no-repeat; }
.sc-fb:before { transition: .5s; border-radius: 50%; content: ""; padding: 10px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACySURBVHgB7ZGxEcIwDEWlXMIcXgNckBoaRoAJYBOOCViBznRQ0dCYDcIEUHPgj3MHPjkkuUDN7770/C1bTDXCtj8HkgmIclEt+BPUSwda1IVE8N0Mpky8pgal8UkeRh5kHWPVAJOCvAm3WW90tG+fUIsyyi7St8JV8cNo8SDkvqRCk7EB+PrqFSWMLqke2nceAw6ntIwXU6kKEnr+p2y0FGf0Tq44cVA8PpyDpy/0h3+Gn7nLO2OUwvJiAAAAAElFTkSuQmCC') center no-repeat; }
.reviews-soc a { display: inline-block;
    padding:  30px 32px;
    border: 1px dashed #505050;
    margin: 0 10px 20px 0;
    border-radius: 50%;
    transition: .5s;}
/* .sc-vk { padding: 30px 32px !important; } */
.reviews-soc a:last-child { margin-right: 0 !important; }
.reviews-soc a:hover { background-color: #D21F39; border: none; border: 1px solid #D21F39; }
.reviews-soc .sc-vk:hover:before { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAMCAYAAACNzvbFAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADWSURBVHgBjVILEYMwDC0oQAISkIAEJOBgc7BNATcFqwNuCtgUTELnoHOQpSzcSkha3l2uJfR9+jEA4OEPh1UZAs6PsEVnIoRv4i3Vh+akkYIBM4WZtBZ17H9bYv9p1jgsk6IoPjjcjQIyqKOWRc5DS9NGRCslxbFmKYPGbFBSmisLMZg8RpbyglrveBtS2kFJesa6sd4o2sLvFjlOWC/Io1P3I6TaCwd0npJoBdsnwjEp5i4lXGeE++i4vCBcpRLblCita0C54NQZNyTuiBAEWmGNi0T9F7XIVrYLcA2iAAAAAElFTkSuQmCC') center no-repeat; }
.reviews-soc .sc-inst:hover:before { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAD3SURBVHgBpVPREYIwDE09/2UDGQEn0A0cQUZgA9lAN3AFN0AmgA1gA9igJpp4IVoUfHfvyKUvjzRtwXufICs/Hw15OAoAIIb/UIOfjkyqMY4luYDpqCVwzrUSzzGKPiWXMI4bsuR4i9whDzRczq1fypFZ5NaVciGxNrogC46LUItawzVDI/PHbMQoZc1Z78gOO4LvEM1KJ61Ry989hCFr5SBrthYhO04drQPl1EzjQb024oVMiRvkianfY/7WiDXixZRNLDp7ELLgxASvuzOCGJ4XUC4fPY0rynpr9KhX3WyQPUwDnWAlRpX661y01FoSmMevoENI7khrDRV3EGC+AAAAAElFTkSuQmCC') center no-repeat; }
.reviews-soc .sc-fb:hover:before { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB8SURBVHgB7ZBRDYAwDEQLmQ+QgAOs4AApgAKkDAlDAXMADkpJ+OjKtqR87yVN1tyluxxABEQcaSyGHDHjhAmkccAMRhzuxe5oFkhkteJYx/Ua8pwac4Chr1a2t0KfSb/et68+laTZNDH2pzqficE1FyiR6hquq9oo5t/mGyoXi18+L2TVAAAAAElFTkSuQmCC') center no-repeat; }
.card-price {

    position: relative;
    top: 10px; }
#compact-i-love-down {     top: -8px;
    position: relative; }
.wrapper-offers #compact-down {
  top: -83px;
    position: relative; }
/* .card-price {

    top: 19px; } */

.kitchen-test { margin-top: 143px; }
.bsi-2 .card-title, .bsi-3 .card-title { font-size: 30px;
line-height: 36px; }
.blog { margin-top: 100px; }
.base-service  .wrapper-card-text {      bottom: auto;
    top: 92%;   margin-left: 25px;  }
.bs-sub-title { padding: 24px 18px 21px 0; }
.kitchen-test .wrapper-card-items:hover { cursor: default; transform: none; }
.footer .header-phone { margin-bottom: 31px; }
.footer .header-phone + div, .footer .header-phone + div + div { margin-bottom: 10px; }
.copy { padding-top: 17px; }
.copy a { text-transform: uppercase; }
.popup-test .row  {     padding: 43px 0; }
.test-progress-line { /*width: 100vw;*/ padding: 40px 0; display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -4px;
    margin-left: -4px;
 }
.test-progress-line .tpl { height: 4px;
/* background: #B7B7B7; */
border-radius: 5px; -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;     position: relative;
    width: 100%;
    min-height: 1px;
		padding-right: 2px;
    padding-left: 2px; }
	.tpl span { background: #B7B7B7;
	border-radius: 5px; display: block;
	    height: 4px;
	}

 .tpl span.active { background-colo: #FDB73B; }

/*updeted first-modul main*/
#updeted-main-modul { margin-right: 0; padding-right: 0; overflow-x: hidden; }
.updeted-main-title { z-index: 2; margin-top: 118px; font-weight: bold; font-size: 72px; line-height: 86px;
    padding: 0; white-space: pre; }
/* .updeted-main-title span { display: block; } */
.updeted-btn-main { transition: .5s; cursor: pointer; background: #B22432; border-radius: 40px; text-align: center; padding-top: 31px;
max-width: 94%; margin-top: 80px; color: #fff; font-weight: bold; font-size: 16px; line-height: 19px; text-transform: uppercase; height: 80px; }
.updeted-btn-main:hover { background: #D21F39; }
.updeted-main-text { margin-top: 60px;     padding-left: 0; }
.updeted-main-img { padding: 0; background: url('../../img/main1920.jpg') center no-repeat; border-radius: 20px 0 0 20px; height: 700px; background-size: cover !important;}
.updeted-main-img::before { position: absolute; left: 0; content: ""; z-index: 1; background: linear-gradient(90deg, rgba(255,255,255, .5) 0%, rgba(244,244,244,0) 50%); height: 100%;}
.updeted-plus { cursor: pointer; z-index: 5; position: absolute; width: 60px; height: 60px; border-radius: 50%; background: #FFFFFF; box-sizing: border-box; border: 1px solid #FDB73B; }
.updeted-plus-in { width: 100%; height: 100%; }
.updeted-horizontal-line {transition: .5s; border-radius: 2px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 24px; height: 4px; background: #B22432; }
.updeted-vertical-line { transition: .5s; border-radius: 2px; z-index: 2; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 4px; height: 24px; background: #B22432; }
.updeted-plus-wrapper { z-index: 9; transition: .5s; width: 100%; height: 100%; border-radius: 50%; border: 2px solid #FDB73B;  box-sizing: border-box; }
.updeted-plus:hover { background: #FDB73B; }
.updeted-plus:hover .updeted-plus-wrapper { transform: scale(1.3); }
.updeted-plus:hover .updeted-vertical-line, .updeted-plus:hover .updeted-horizontal-line { background: #fff; }
.updeted-plus:hover { background: #FDB73B; }
.updeted-dark-img { left: 0; top: 0; position: absolute; display: none; z-index: 2; width: 100%; height: 100%; border-radius: 20px 0 0 20px;  background: rgba(0, 0, 0, 0.2 ); }
.updeted-light-img { height: 100%; width: 100%; background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(244,244,244,0) 50%); }
#plus-1 {     left: 18.82%;
    bottom: 35%; }
    /* top: 390px; } */
#plus-2 {
    left: 35%;
    top: 226px;
}
#plus-3 { left: 56.2%;
    bottom: 79px; }
#plus-4 { left: 75%; top: 19%; }
#plus-5 { right: 16.4%; bottom: 160px; }

.show-more-offers { display: none; font-size: 0; }

#popup-offer-2 .popup-label-checkbox { width: 47%; height: 80px; }
#popup-offer-2 .text-checkbox { width: auto; }
#popup-offer-2 .fake-checkbox { top: 45%; transform: translate(0,-45%); }
#popup-offer-2 .popup-free-design__email { margin-right: 20px; margin-top: 30px; }

#popup-free-design .popup-label-checkbox { width: 47%; height: 80px; }
#popup-free-design .text-checkbox { width: auto; }
#popup-free-design .fake-checkbox { top: 45%; transform: translate(0,-45%); }
#popup-free-design .popup-free-design__email { margin-right: 20px; margin-top: 30px; }

@media screen and (max-width: 1750px) {
	#plus-4 { left: 80%; }
	#plus-5 { right: 16.4%; }

}
@media screen and (max-width: 1510px) {
	.ph-number {
		font-size: 24px;
		line-height: 29px;
		}
	.menu-item { margin: 0 4.5% 0 0; }
	.region { padding: 6px 0 15px;}
	#plus-4 { left: 82%; }
	#plus-5 { right: 12.4%; }
}

@media screen and (max-width: 1280px) {
	.ph-number {
		font-size: 24px;
		line-height: 29px;
		}
	.menu-item { margin: 0 3% 0 0; font-size: 12px; line-height: 14px; }
	.region {
	        padding: 6px 0 13px;
	}
	.call-free {     max-width: 110px;
	    margin-left: 15px; font-size: 10px;
line-height: 12px; }
}



@media screen and (max-width: 1089px) {
	.header-but { display: block; position: absolute; top: 23px; right: 25px; width: 24px; height: 18px; }
	.header-but { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAYAAABB7B6eAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAnSURBVHgB7dMBDQAABEVBXxYJRFeQFDazdx1OFdm2yA04TzwAHjwYIu0GH15trPMAAAAASUVORK5CYII=') no-repeat; }
	.header-but.close { right: 40px; height: 24px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACSSURBVHgBxZbbCYAwDEWDk7j/jyM4giM4yjWF6ofSNE8s5Kdwz+kj0BKAg+vkWilpNBbXzrVRhyNL0uEP8zMRkQxZGZIpIyJRZz0Sc8YScO9aE0T03iRAGC6B0uCCJA8+kJjgC/09So+o9JJL21QDcEssQbPEsyp1JnKu0ywQ7wxUvmaiJAs+ktyCFPhL0r5D+wWLUvUXm9XzTQAAAABJRU5ErkJggg==') no-repeat; }

	.main-header { padding: 20px 0; }
	.header-nav.mhn, .call-di { display: none; }
  .main-header, .call-free { font-size: 10px; line-height: 12px; }
	.call-free { max-width: 55px; padding: 3px 0 0 0px; }

  .main-header .col-sm-6 { -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;}
  .main-header .col-sm-6 + .col-sm-3 {-webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;}
	.logo-1 { width: 85px; height: auto; }
	.main-header.menu-popup { background: #B22432; color: #fff;     position: fixed;
		width: 100vw;
	min-height: 100vh;
    z-index: 20;
    top: 0;
    left: 0px; padding-left: 40px; padding-right: 40px; }
		.ph-number {
			font-size: 18px;
			line-height: 22px; padding: 5px 0 0 15px;
			}
 .main-header .row .col-sm-3:nth-child(1) {     -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
	.region { padding: 3px 0 13px; width: 105px; }

	.main-header.menu-popup  { padding: }
	.main-header.menu-popup .header-nav {     position: absolute; top: 91px;     left: 0; min-width: 291px; left: -100%;
    min-width: 291px;
    padding-left: 20px;
    box-sizing: content-box;  }
	.main-header.menu-popup .region {      position: relative;   left: -6px; }
	.main-header.menu-popup .ph-number  {  padding-left: 20px; }
	.menu-item { font-size: 30px; line-height: 36px; display: block; color: #fff; text-transform: capitalize; padding-bottom: 20px; }
	.menu-item:hover { color: #fff; }
}

@media screen and (max-width: 679px) {
	.main-header .col-sm-6 + .col-sm-3 { display: none; }
	.main-header .row .col-sm-3:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }

	.main-header .col-sm-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 60%;
	    flex: 0 0 60%;
	    max-width: 60%; }
	.main-header.menu-popup { padding-left: 20px; }
	/* .main-header.menu-popup .header-nav { left: -118px; } */
	.main-header.menu-popup .header-nav {
	    /* left: -101px; */
	}
	.main-header.menu-popup .col-sm-6 + .col-sm-3 { display: block; flex: none; position: absolute;
    top: 382px; left: 3px; font-size: 14px; line-height: 17px; min-width: 286px; }
	.main-header.menu-popup .call-di { display: block; }
	.main-header.menu-popup .ph-number { font-size: 24px; line-height: 29px; padding: 0 0 0 16px; }


}
