@media screen and (max-width: 1599px) {
    .wrapper-main {
        height: 600px;
    }
    /*главый контейнер*/
    .container-fluid {
        padding: 0 40px;
    }
    /*изображение на главном модуле*/
    .main-img {
        position: absolute;
        width: 1030px;
        height: 600px;
        left: 380px;
        top: 0;
        background: url("../../img/main1410.jpg") no-repeat;
    }
    .light-main-img {
        position: absolute;
        z-index: 1;
        width: 510px;
        height: 600px;
        left: 380px;
        top: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
    }
    /*Название главного модуля*/
    .main-title {
        width: 633px;
        height: 144px;
        left: 40px;
        top: 105px;
        font-size: 60px;
        line-height: 72px;
    }
    /*кнопка на главном модуле*/
    .main-btn {
        width: 310px;
        height: 80px;
        left: 40px;
        top: 309px;
        font-size: 14px;
        line-height: 17px;
    }
    /*текс на главном модуле*/
    .main-text {
        width: 310px;
        height: 66px;
        left: 40px;
        top: 429px;
        font-size: 18px;
        line-height: 22px;
    }
    /*Плюсики*/
    .circle-plus-1, .wrapper-circle-plus-1 {
        left: 161px;
        top: 330px;
    }
    .circle-plus-2, .wrapper-circle-plus-2 {
        left: 326px;
        top: 196px;
    }
    .circle-plus-3, .wrapper-circle-plus-3 {
        left: 581px;
        top: 470px;
    }
    .circle-plus-4, .wrapper-circle-plus-4 {
        left: 801px;
        top: 93px;
    }
    .circle-plus-5, .wrapper-circle-plus-5 {
        right: 116px;
        top: 457px;
    }
    /*подсказка на плюсиках*/
    .main-prompt {
        width: 200px;
    }
    /*popups-design-main*/
    .popup {
        width: 48.94%;
    }
    .popup-title-free-design {
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-free-design {
        font-size: 18px;
        line-height: 22px;
    }
    .form-popup {
        margin-top: 60px;
    }
    .input-popup {
        width: 47.2%;
        font-size: 14px;
        line-height: 17px;
    }
    .input-popup::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .popup-label-checkbox {
        margin-top: 30px;
        display: block;
        position: relative;
    }
    .text-checkbox {
        width: 510px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 17px;
    }
    .btn-popup-free-design {
        width: 47.2%;
        font-size: 14px;
        line-height: 17px;
    }
/*popup-record-salon*/
    .popup-record-salon .input-popup {
        width: 47.15%;
    }
    .popup-record-salon .input-popup::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .popup-title-record-salon {
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-record-salon {
        font-size: 18px;
        line-height: 22px;
    }
    .popup-label-checkbox-record-salon{
        width: 47.15%;
        display: inline-block;
    }
/*popup-plus*/
    .popup-plus .btn-popup-free-design {
        width: 252px;
    }
    .popup-title-plus {
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-plus {
        font-size: 18px;
        line-height: 22px;
        margin-top: 0px;
    }
    .popup-plus-img {
        width: 720px;
        height: 400px;
    }
    .popup-plus-img img {
        height: 360px;
        left: -70px;
        top: -25px
    }
    .popup-plus-img-light {
        width: 720px;
        left: -70px;
        top: -25px;
    }
    .h2-title {
      	font-size: 52px;
    	  line-height: 62px;
    }

    /*updeted main*/
    #updeted-main-modul { margin-right: 0; padding-right: 0; padding-left: 40px; }
    .updeted-main-title { font-size: 60px;
    line-height: 72px;     margin-top: 105px; }

    .updeted-main-img {
        background: url(../../img/main1410.jpg) center no-repeat;
        height: 600px;
    }
    #plus-1 {
        left: 16.3%;
        bottom: 35%; }
    #plus-2 {
      left: 32.2%;
    top: 32.6%; }
    #plus-3 {
      left: 56.8%;
    bottom: 11.9%; }
    #plus-4 {
      right: auto;
    top: 15.4%;
    left: 78%; }
    #plus-5 {
      right: auto;
    bottom: 25%;
    left: 83.1%; }

    .updeted-btn-main {
        max-width: 98%;
        margin-top: 61px;
        font-size: 14px;
        line-height: 17px;
    }
    .updeted-main-text {
        font-size: 18px;
        line-height: 22px;
        margin-top: 40px;
    }

    #compact-i-love-down {     top: -38px; }

    .kitchen-test {
        margin-top: 88px;
    }
    .kitchen-test .wrapper-card-items p {
      font-size: 18px;
    line-height: 22px; padding-bottom: 4px;
    }
    .kitchen-test .h2-title {
        margin-bottom: 40px;
    }
    .test-btn {
        margin-top: 39px; }
    #offers { margin-top: 69px; }
    .base-service.container-fluid {  margin-top: 55px;     padding-bottom: 176px;     margin-bottom: 121px; }
    .base-service .title-free-steps { transform: translateY(-62px); margin-bottom: -46px;
    }

    .bs-items .bs-img { padding: 40px 0 0 30px;}
    .bs-svg { width: 100px; height: 100px; }
    .bs-items.wrapper-card-items { min-height: 180px;  margin-bottom: 80px; }
    .bs-items.wrapper-card-items .card-item { min-height: 180px;}
    .bsi-2 .card-title, .bsi-3 .card-title { font-size: 24px; line-height: 29px; }
    .base-service .wrapper-card-text { top: 163px; margin-left: 30px; }
    .no-gutters-mobile {
      margin-right: 0;
      margin-left: 0;
      }

      .free-steps { margin-top: 205px; }
      .h2-title.sc-title { font-size: 30px; line-height: 36px; }
      .reviews {
          margin: 120px 0;
      }
      .footer.container-fluid {
          padding-top: 55px;
          padding-bottom: 46px;
      }
      .factory {
          font-size: 14px;
          line-height: 17px;
          padding: 26px 0 0;
          letter-spacing: -0.01em;
      }

      .footer .col-sm-3 + .col-sm-6 + .col-sm-3 { padding-left: 34px; }
      .footer .header-phone {
          margin-bottom: 28px;
      }
      .footer .header-phone + div, .footer .header-phone + div + div {
          margin-bottom: 8px;
      }

      .main-header .call-free {
          font-size: 10px;
          line-height: 12px;
      }
}
