@media screen and (max-width: 679px) {

    .wrapper-main {
        height: 799px;
    }
    /*главый контейнер*/
    .container-fluid {
        padding: 0 20px;
    }
    /*изображение на главном модуле*/
    .main-img {
        position: absolute;
        width: 285px;
        height: 300px;
        left: 20px;
        top: 499px;
        background: url("../../img/main320.jpg") no-repeat;
    }
    .light-main-img {
       display: none;
    }
    /*Название главного модуля*/
    .main-title {
        width: 280px;
        height: 192px;
        left: 20px;
        top: 40px;
        font-size: 40px;
        line-height: 48px;
    }
    /*кнопка на главном модуле*/
    .main-btn {
        width: 280px;
        height: 80px;
        left: 20px;
        top: 272px;
        font-size: 12px;
        line-height: 14px;
    }
    /*текс на главном модуле*/
    .main-text {
        width: 280px;
        height: 57px;
        left: 20px;
        top: 382px;
        font-size: 16px;
        line-height: 19px;
    }
    /*Плюсики*/
    .circle-plus-1 {
        left: 25px;
        top: 138px;
    }
    .circle-plus-2 {
        left: 76px;
        top: 83px;
    }
    .circle-plus-3 {
        left: 167px;
        top: 198px;
    }
    .circle-plus-4 {
        left: 240px;
        top: 79px;
    }
    .circle-plus-5 {
        right: 20px;
        top: 171px;
    }
/*popups-design-main*/
    .popup {
        width: 100vw;
        min-height: 100vh;
    }
    .popup .container-fluid {
        margin: 0 20px;
    }
    .popup-title-free-design {
        width: 275px;
        font-size: 36px;
        line-height: 43px;
    }
    .popup-text-free-design {
        font-size: 16px;
        line-height: 19px;
        width: 275px;
    }
    .form-popup {
        margin-top: 30px;
    }
    .input-popup {
        width: 233px;
        font-size: 14px;
        line-height: 17px;
    }
    .popup-free-design__phone {
        margin-top: 30px;
    }
    .input-popup::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .popup-label-checkbox {
        width: 233px;
    }
    .fake-checkbox {
        width: 30px;
        height: 30px;
    }
    .fake-checkbox::before {
        width: 14px;
        height: 14px;
    }
    .text-checkbox {
        width: 210px;
        margin-left: 10px;
        font-size: 13px;
        line-height: 16px;
        top: 9;
    }
    .btn-popup-free-design {
        width: 233px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 100px;
    }
/*popup-plus*/
    .popup-text-plus {
        font-size: 16px;
        line-height: 19px;
        width: 95%;
    }
    .popup-plus-img {
        width: 101%;
        height: 300px;
    }
    .popup-plus-img img {
        width: 101%;
        height: 250px;
        left: -10px;
        top: -45px
    }
    .popup-plus-img-light {
        width: 101%;
        left: -10px;
        top: -45px;
    }
    .popup-text-plus {
        margin-top: -10px;
    }


    .popup-test .btn-popup-test {
        margin-bottom: 100px;
    }

    .container-fluid#offers { padding: 0 40px; }
    .col-12.col-sm-6.col-md-3.updeted-main-left-block { padding-left: 0; }
    .header-but.close {
        right: 20px; }
  .wrapper-20 {height: 400px; }
  .container-fluid#offers {
      padding: 0 20px;
  }
  #offers .wrapper-card-img {
      padding-right: 0;
  }
  #offers  .wrapper-card-items { min-height: auto !important; margin-bottom: 40px; }

  .base-service.container-fluid {
      margin-top: 115px;
  }
  .free-steps .row.col-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
.free-steps { padding-bottom: 40px; }
/* .menu-popup.main-header .col-sm-6 { left: 20px; } */
.menu-popup.main-header .col-sm-6 { position: absolute; top: 20px; left: 0; }
.main-header.menu-popup .header-nav { left: 0; }

}
