@font-face {
	font-family: 'PFBeauSansPro';
	src: url('../../fonts/pfbeausanspro-reg.eot');
	src: local('☺'), url('../../fonts/pfbeausanspro-reg.woff') format('woff'), url('../../fonts/pfbeausanspro-reg.ttf') format('truetype'), url('../../fonts/pfbeausanspro-reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFBeauSansPro';
	src: url('../../fonts/pfbeausanspro-bold.eot');
	src: local('☺'), url('../../fonts/pfbeausanspro-bold.woff') format('woff'), url('../../fonts/pfbeausanspro-bold.ttf') format('truetype'), url('../../fonts/pfbeausanspro-bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}


body {
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    overflow-x: hidden;
}
a { text-decoration: underline; color: #787878; font-weight: bold; }
.main-text-a { cursor: pointer; text-decoration: underline; color: #787878; font-weight: bold; }
a:hover { color: #787878; }

.wrapper-main {
    position: relative;
    height: 820px;
}
/*главый контейнер*/
.container-fluid {
    position: relative;
    margin: 0;
    padding: 0 36px 0 80px;
}
/*изображение на главном модуле*/
.main-img {
    position: absolute;
    width: 1390px;
    height: 700px;
    left: 530px;
    top: 120px;
    background: url("../../img/main1920.jpg") no-repeat;
    background-size: auto 100%;
    overflow-x: hidden;
    border-radius: 20px 0px 0px 20px;
}
.dark-main-img  {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    opacity: 0;
    border-radius: 20px 0px 0px 20px;
    transition: .5s linear;
 }
.light-main-img {
    position: absolute;
    z-index: 1;
    width: 695px;
    height: 700px;
    left: 530px;
    top: 120px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
}
/*Название главного модуля*/
.main-title {
    position: absolute;
    z-index: 2;
    width: 760px;
    height: 172px;
    left: 80px;
    top: 238px;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
}
/*кнопка на главном модуле*/
.main-btn {
    position: absolute;
    cursor: pointer;
    width: 410px;
    height: 80px;
    left: 80px;
    top: 490px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s linear;
}
.main-btn:hover { background: #D21F39; }
/*текс на главном модуле*/
.main-text {
    position: absolute;
    width: 410px;
    height: 72px;
    left: 80px;
    top: 630px;
}
/*плюсики*/
.circle-plus {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FDB73B;
    border-radius: 50%;
    transition: .5s linear;
}
.horizontal-line {
    position: absolute;
    width: 24px;
    height: 4px;
    background: #B22432;
    border-radius: 5px;
    margin: 26px 16px;
    transition-property: background;
    transition-duration: 1s;
    transition: .5s linear;
}
.vertical-line {
    width: 4px;
    height: 24px;
    background: #B22432;
    border-radius: 5px;
    margin: 16px 26px;
    transition: .5s linear;
}
.circle-plus-1, .wrapper-circle-plus-1 {
    position: absolute;
    z-index: 3;
    left: 261px;
    top: 390px;
}
.circle-plus-2, .wrapper-circle-plus-2 {
    position: absolute;
    z-index: 3;
    left: 486px;
    top: 226px;
}
.circle-plus-3, .wrapper-circle-plus-3 {
    position: absolute;
    z-index: 3;
    left: 782px;
    top: 561px;
}
.circle-plus-4, .wrapper-circle-plus-4 {
    position: absolute;
    z-index: 3;
    left: 1041px;
    top: 133px;
}
.circle-plus-5, .wrapper-circle-plus-5 {
    position: absolute;
    z-index: 3;
    right: 229px;
    top: 480px;
}
.wrapper-circle-plus {
    z-index: 5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #FDB73B;
    transition: transform 1s;
}
.wrapper-circle-plus:hover ~ .dark-main-img {
    opacity: .2;
}
.wrapper-circle-plus:hover {
    transform: scale(1.3);
}
.wrapper-circle-plus:hover + .circle-plus {
    background: #FDB73B;
}
.wrapper-circle-plus:hover + .circle-plus .horizontal-line {
    background: #fff;
}
.wrapper-circle-plus:hover + .circle-plus .vertical-line {
    background: #fff;
}
/*подсказка на плюсиках*/
.main-prompt {
    z-index: 5;
    display: none;
    width: 240px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
/*overlay_popup*/
.overlay_popup {
    display: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .2;
}
.overlay_popup_like_design {
    display: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .2;
}
.popup {
    /*popups-design-main*/
    position: fixed;
    overflow-y: scroll;
    display: none;
    z-index: 12;
    width: 48.96%;
    height: 100vh;
    right: 0;
    background: #fff;
		/*fix*/
		padding-left: 40px;
    background-clip: content-box;
    box-sizing: content-box;
}
.popup::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.popup-close {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    background: url("../../img/close_popup1090.jpg") no-repeat;
}
.popup-close:hover {
    background: url("../../img/close_popup_hover1090.jpg") no-repeat;
}
.close-like-design {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    background: url("../../img/close_popup1090.jpg") no-repeat;
}
.close-like-design:hover {
    background: url("../../img/close_popup_hover1090.jpg") no-repeat;
}
.popup-title {
    position: relative;
    z-index: 11;
    margin-top: 40px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}
.popup-text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
		letter-spacing: -0.14;
}
.form-popup {
    margin-top: 60px;
}
.input-popup {
    padding: 0 60px 0 60px;
    width: 47.6%;
    height: 80px;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 40px;
    outline:none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.input-popup:hover {
    border: 1px solid #000;
}
.input-popup:focus {
    border: 1px solid #000;
}
.input-popup::placeholder {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #787878;
}
.popup-free-design__name {
    margin-right: 20px;
}
.popup-label-checkbox {
    margin-top: 30px;
    position: relative;
}
.text-checkbox {
    position: absolute;
    width: 720px;
    top: 11px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
		letter-spacing: -0.14;
}
.text-checkbox a { font-weight: 300; color: #000; }

.checkbox-popup {
    display: none;
}
.fake-checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #B7B7B7;
    border-radius: 40px;
    position: relative;
}
.fake-checkbox::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 40px;
    background: #FDB73B;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .3s;
}
.checkbox-popup:checked + .fake-checkbox::before {
    opacity: 1;
}
.fake-checkbox:hover {
    border: 1px solid #000;
}
.popup-label-checkbox:hover .fake-checkbox {
    border: 1px solid #000;
}
.btn-popup-free-design {
    position: relative;
    cursor: pointer;
    width: 47.6%;
    height: 80px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 32px;
}
.btn-popup-free-design:hover { background: #D21F39; }
/*popup-record-salon*/
.popup-record-salon {
    display: none;
}
.popup-record-salon .input-popup {
    width: 47.55%;
}
.popup-record-salon__name {
    margin-right: 20px;
}
.popup-label-checkbox-record-salon{
    width: 47.55%;
}
.popup-label-checkbox-record-salon .text-checkbox{
    width: 80%;
    margin-top: 6px;
}
.popup-label-checkbox-record-salon .fake-checkbox {
    transform: translate(0,15px);
}
.popup-record-salon__email {
    margin-right: 20px;
}
/*popup-plus*/
.popup-plus {
    display: none;
    position: fixed;
}
.popup-plus .btn-popup-free-design {
    width: 271px;
    margin-bottom: 20px;
}
.popup-plus-img {
    position: relative;
    width: 51.04%;
    height: 460px;
}
.popup-plus-img img {
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    height: 460px;
    left: -120px;
    top: -34px
}
.popup-plus-img-light {
    position: absolute;
    z-index: 10;
    width: 980px;
    height: 230px;
    left: -120px;
    top: -34px;
    border-radius: 20px 0px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
}
.section-1 {
    position: relative;
    background: #000;
}

/*скопировала из i-love-title*/
/* .cards-title {
  	font-weight: bold;
	  font-size: 60px;
	  line-height: 62px;
} */

.h2-title {
  	font-weight: bold;
	  font-size: 60px;
	  line-height: 72px;
		padding-left: 0;
}


#compact-down .col-md-3:nth-child(3) .wrapper-card-img { max-height: 380px; }
.popup-offer .popup-plus-img { top: 74px; height: 482px;     margin-bottom: 93px; }
.popup-offer .popup-plus-img img { height: 482px; }
.popup-plus-img + .popup-title { font-size: 36px; }
.popup-plus-img + .popup-title + .popup-text { margin-top: 12px; }
.popup-plus-img + .popup-title + .popup-text + .form-popup { margin-top: 40px; }

.btn { cursor: pointer;
    width: 410px;
    height: 80px;
    padding-top: 31px;
    background: #B22432;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s linear;}

.kitchen-test .h2-title { margin-bottom: 60px; }
.test-btn { margin-top: 67px; }

.popup-test { position: fixed; width: 100vw !important; margin-top: 0; padding: 0; }
.test-title { font-weight: bold;
font-size: 36px;
line-height: 43px; }
.test-about-kitchen { font-size: 24px;
line-height: 29px; }
.popup-label-checkbox:hover { cursor: pointer; }
.popup-test .popup-label-checkbox:hover .text-checkbox { color: #B22432; }
.popup-test .popup-label-checkbox:hover .fake-checkbox { background: 		  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADvSURBVHgBpVOxDYNADPSbAtFlBDYII4SSCtgkGwAbJJMAoqBMRmCDMEI6RAPxoRAhFEX/n2uwH/v+bN0r2qFpmpPjOLFSKpHUx9k8z53knYRFFEX9tl6tQVmWB8/zMik+0w8I0WUYhiJN0+eHAM2u697kZ0AagKJxHEOQMA5ws27zW0WAniVu29aX74PsEEJBRpaYpilhmUdb+h7MHLPJ7F/gM/0JEPRkCZgLO6jJEvADdlCRPQoWb9+F6UqGQA/exbJEsWUOOQbNsHKOeCGAp+FtHSWoWd8BcrUvgLWlKJfwuPFIL66rxTgVRt7WvwDunHA3GytNqQAAAABJRU5ErkJggg==') center no-repeat;
}
.popup-test  .checkbox-popup:checked + .fake-checkbox + .text-checkbox { color: #B22432; }
.test-img img { width: 100%; height: auto; }
