@media screen and (max-width: 1090px) {
    /*главый контейнер*/
    .container-fluid {
        padding: 0 40px;
    }
    /*изображение на главном модуле*/
    .main-img {
        position: absolute;
        width: 790px;
        height: 600px;
        left: 300px;
        top: 120px;
        background: url("../../img/main1090.jpg") no-repeat;
    }
    .light-main-img {
        width: 395px;
        height: 600px;
        left: 300px;
        top: 120px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
    }
    /*Название главного модуля*/
    .main-title {
        width: 490px;
        height: 288px;
        left: 40px;
        top: 22px;
        font-size: 60px;
        line-height: 72px;
    }
    /*кнопка на главном модуле*/
    .main-btn {
        width: 230px;
        height: 80px;
        left: 40px;
        top: 490px;
        font-size: 14px;
        line-height: 17px;
    }
    /*текс на главном модуле*/
    .main-text {
        width: 230px;
        height: 88px;
        left: 40px;
        top: 610px;
        font-size: 18px;
        line-height: 22px;
    }
    /*Плюсики*/
    .circle-plus-1, .wrapper-circle-plus-1 {
        left: 81px;
        top: 330px;
    }
    .circle-plus-2, .wrapper-circle-plus-2 {
        left: 206px;
        top: 196px;
    }
    .circle-plus-3, .wrapper-circle-plus-3 {
        left: 477px;
        top: 468px;
    }
    .circle-plus-4, .wrapper-circle-plus-4 {
        left: 681px;
        top: 163px;
    }
    .circle-plus-5, .wrapper-circle-plus-5 {
        right: 40px;
        top: 391px;
    }
/*popups-design-main*/
    .popup {
        width: 54.13%;
        min-height: 100%;
    }
    .popup-free-design__phone {
        margin-top: 30px;
    }
    .input-popup {
        width: 230px;
    }
    .text-checkbox {
        width: 80%;
    }
    .btn-popup-free-design {
        width: 230px;
    }

/*popup-record-salon*/
    .popup-record-salon .input-popup {
        width: 47.15%;
    }
    .popup-label-checkbox-record-salon{
        width: 47.15%;
    }
    .btn-popup-record-salon {
        width: 47.15%;
    }
/*popup-plus*/
    .popup-plus .btn-popup-free-design {
        width: 233px;
    }
    .popup-text-plus {
        font-size: 16px;
        line-height: 19px;
    }
    .popup-plus-img {
        height: 300px;
    }
    .popup-plus-img img {
        height: 315px;
        left: -70px;
        top: -25px
    }
    .popup-text-plus {
        margin-top: 55px;
    }
    #updeted-main-modul { margin-right: 0; padding-right: 0; }
    .updeted-main-title div { white-space: normal; }
    .updeted-main-title div span { white-space: pre; }

    .updeted-main-title {
        margin-top: 21px;
    }
    #plus-1 {
        left: 11.1%;
    }
    #plus-2 {
        left: 27%;
        top: 32.3%;
    }
    #plus-3 {
        left: 60.8%; }
    #plus-4 {
        top: 27.2%;
        left: 86.3%; }
      #plus-5 {
          left: 87.5%;
      }

      .updeted-btn-main {
          padding-top: 26px; }

      .updeted-main-text {  padding-right: 0;
          }
          .kitchen-test {
              margin-top: 83px;
          }

          #offers {
              margin-top: 114px;
          }

          .base-service .title-free-steps {
            font-size: 52px;
            line-height: 62px;
          }
          .bs-sub-title {
              padding: 23px 0 32px 0;
              font-size: 18px;
              line-height: 22px;
          }
      .base-service .card-price { top: 19px; }
      .reviews-soc a {
          padding: 28px; }

          .h2-title.sc-title {padding: 0 0 38px;
          }
          .reviews {
              margin-bottom: 78px;
          }

}

/* //1090 */

@media screen and (max-width: 991px) {
  .sc-title {font-size: 24px; line-height: 29px;}
  .base-service.container-fluid { margin-top: 71px; padding-bottom: 107px;  margin-bottom: 80px; }
  .bs-sub-title { font-size: 16px; line-height: 19px; }
  .blog { margin-top: 80px; }
  .bs-items .bs-img { padding: 40px 0 0 30px;}
  .bs-svg { width: 100px; height: 100px; }
  .bs-items.wrapper-card-items { min-height: 180px;  margin-bottom: 80px; }
  .bs-items.wrapper-card-items .card-item { min-height: 180px;}
  .bsi-2 .card-title, .bsi-3 .card-title { font-size: 20px; line-height: 24px; }
  .base-service .title-free-steps { transform: translateY(-22px); }
  .bs-sub-title { padding: 0px 0 3px 0; transform: translateY(8px); }
  .base-service .wrapper-card-text { top: 163px; margin-left: 30px; }
  .no-gutters-mobile {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .no-gutters-mobile .col-lg-6, .no-gutters-mobile .col-lg-6,
  .no-gutters-mobile .col-sm-6, .no-gutters-mobile .col-lg-3 {
      padding-right: 0; padding-left: 0;
   }
  .card-price { top: 10px; }
  .bsi-2 { padding-right: 20px !important; }
  .bsi-3 { padding-left: 20px !important; }
  .base-service .bsi-2 .wrapper-card-text,
  .base-service .bsi-3 .wrapper-card-text { top: 167px;  max-width: 250px; }

    /*updeted main*/
    #updeted-main-modul { margin-right: 0; padding-right: 0; }
}

@media screen and (max-width: 767px)  {
  .updeted-main-title div { white-space: pre; }
  .updeted-main-title div span { white-space: pre; }
  .updeted-main-title { font-size: 40px;
line-height: 48px; }


}
