@media screen and (max-width: 679px) {
/*production*/
    .wrapper-about-production {
        margin-left: 0;
    }
    .time-production {
        font-size: 180px;
        line-height: 216px;
    }
    .time-production_day {
        font-size: 36px;
        line-height: 43px;
        left: 118px;
        top: 163px;
    }
    .btn-about-production {
        width: 100%;
        padding: 31px 25px;
    }

    .product-block-4 .product-block-2-2 {
        margin-bottom: 100px;
    }
    #popup-about-production .container-fluid {
        margin: 0;
    }

    .new-wrapper-20 { margin-top: 50px; margin-left: 0; margin-right: 0; }
    .new-wrapper-20 div:not(.new-btn-20) { padding: 0; }
    .new-wrapper-number-day { min-height: 216px; }
    .new-text-20 { margin-top: 30px; }
}
