.red {
    border: 1px solid black;
    min-height: 50px;
}
.wrapper-i-love {
    margin-top: 140px;
}
/* .i-love-title {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
} */
.i-love-cards-a {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
    line-height: 24px;
}
.i-love-cards-a:last-child { margin-right: 0; }
.i-love-cards-a-actived {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    /* border-bottom:  none !important; */
}
.i-love-cards-a-actived span {
    border-bottom:  none !important;
}

.wrapper-cards {
    margin-top: 60px;
}
.wrapper-card-items {
    cursor: pointer;
    min-height: 595px;
}
.card-title {
    transition: .5s;
}
#catalogue .wrapper-card-items:hover .card-item .wrapper-card-text .card-title{
    color: #D21F39;
}
#catalogue .wrapper-card-items:hover .card-item .wrapper-card-text {
    transform: translateY(-20px);
}
#catalogue .wrapper-card-items:hover .card-item .wrapper-card-img {
    transform: translateY(-20px);
}
#catalogue .wrapper-card-items:hover .card-item .wrapper-card-img img{
    transform: scale(1.1);
    /*overflow: hidden; */
    /* max-width: 500px;
    width: 500px; */
}
.card-item {
    /* position: absolute; */
    max-width: 100%;
    /* bottom: 0; */
}
.wrapper-card-item {
    position: absolute;
    background: red;
    bottom: 0;
}
.wrapper-card-gradient {
    position: absolute;
    width: 100%;
    /* background: blueviolet; */
    bottom: 0;
}
.wrapper-card-img {
    position: absolute;
    max-width: 100%;
    bottom: 45px;
    overflow: hidden;
    border-radius: 20px;
    transition: .5s;
}
.wrapper-card-btn {
    position: absolute;
    max-width: 100%;
    width: 93%;
    bottom: 50px;
}
.card-btn {
    cursor: pointer;
    border: 1px dashed #505050;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 100%;
    height: 460px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
}
.card-btn:hover {
    border: none;
    background: #D21F39;
    color: #fff;
}
.card-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}
.wrapper-card-img img {
    border-radius: 20px;
    max-width: 100%;
    transition: .5s;
}
.wrapper-card-text {
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    transition: .5s;
}
.card-text {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}
.card-price {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.card-gradient {
    width: 100%;
    height: 230px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
}
.wrapper-card-img-2 {
    bottom: 110px;
}
.wrapper-card-gradient-2 {
    bottom: 110px;
}
.wrapper-card-text-2 {
    bottom: 65px;
}
.wrapper-card-img-3 {
    bottom: -50px;
}
.wrapper-card-gradient-3 {
    bottom: -50px;
}
.wrapper-card-text-3 {
    bottom: -95px;
}
.i-love-a {
    transition: .5s;
}
.i-love-a .main-text-a {
    transition: .5s; text-decoration: none;
}
.i-love-a .main-text-a span {
     border-bottom: 2px dashed #787878; transition: .5s;
}

.i-love-a .main-text-a:hover {
    color: #B22432;
    transition: .5s;
}
.i-love-a .main-text-a:hover span {
    color: #B22432;
    /* text-decoration: none;
    transition: .5s; */
    border: none;
padding-bottom: 2px;
}
#functions, #space, #style-design {
    display: none;
}
.wrapper-animation-i-love {
    /* min-height: 1190px; */
}
.i-love-position-absolute {
    position: absolute;
}

/*popup-i-love*/
#popup-i-love {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.wrapper-popup-i-text {
    padding-top: 20px;
}
.wrapper-popup-i-text .title{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}
.wrapper-popup-i-text .text {
    font-size: 24px;
    line-height: 29px;
    margin-left: 40px;
}
.popup-i-btn {
    cursor: pointer;
    border-radius: 40px;
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 31px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    transition: .5s;
}
.popup-i-btn-1 {
    border: 1px dashed #505050;
    transition: .5s;
}
.popup-i-btn-1:hover {
    background: #D21F39;
    border: none;
    color: #fff;
}
.popup-i-btn-2 {
    background: #B22432;
    color: #fff;
    transition: .5s;
}
.popup-i-btn-2:hover {
    background: #D21F39;
}
.wrapper-popup-i-img {
    width: 100%;
    max-height: 85vh;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 17px;
    transition: .5s;
}
#i-love-gallery {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.popup-i-top-content {
    margin-top: 40px;
}
.popup-i-middle-content {
    margin-top: 60px;
}
.wrapper-popup-i-img-mimi {
    padding: 0 5px;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    opacity: .5;
    transition: .5s;
}
.wrapper-popup-i-img-mimi img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.actived-img {
    opacity: 1;
}
.actived-img-hover {
    opacity: 1;
}
.desctop-text-gallery {
    display: block;
    margin-top: 60px;
    padding-left: 0;
}
.mobile-text-gallery {
    display: none;
}
.i-love-info-p { margin-top: 30px; }
#popup-i-love p {
    font-size: 16px;
    line-height: 19px;
}
.i-love-info {
    font-weight: bold;
}
.popup-i-top-end {
    margin-top: 17px;
    margin-bottom: 80px;
}
/*полный каталог кухонь*/
#popup-get-katalog-kitchen .popup-record-salon__email {
    width: 98%;
}
#popup-get-katalog-kitchen .popup-label-checkbox-record-salon {
    width: 98%;
}
#popup-get-katalog-kitchen .text-checkbox {
    margin-top: 15px;
}


@media screen and (max-width: 1599px) {
     .wrapper-i-love {
        margin-top: 120px;
    }
    .wrapper-card-items {
        min-height: 530px;
    }
    .card-btn {
        height: 300px;
    }
    .wrapper-popup-i-img-mimi {
        height: 80px;
    }
}

@media screen and (max-width: 1409px) {

    .wrapper-cards {
        margin-top: 28px;
    }
    .wrapper-card-img-3 {
        bottom: 80px;
    }
    .wrapper-card-gradient-3 {
        bottom: 80px;
    }
    .wrapper-card-items {
        min-height: 440px;
    }
    .wrapper-card-btn {
        max-width: 410px;
    }
    .card-btn {
        height: 300px;
    }
    .wrapper-card-img img{
        height: 300px;
        width: 100%;
    }
    .wrapper-cards .row:nth-child(2) .wrapper-card-items:nth-child(2) .wrapper-card-img img {
        height: 360px;
    }
    .wrapper-cards .row:nth-child(2) .wrapper-card-items:nth-child(3) .wrapper-card-img img {
        height: 240px;
    }
    .card-text {
        font-size: 30px;
        line-height: 36px;
    }
    .card-price {
        font-size: 16px;
        line-height: 19px;
    }
    .wrapper-card-text {
        bottom: 5px;
    }
    .wrapper-card-text-2 {
        bottom: 72px;
    }
    .wrapper-card-text-3 {
        bottom: 40px;
    }
    .card-btn span {
        font-size: 14px;
        line-height: 17px;
    }
    .wrapper-card-img-4 { 
        bottom: 140px;
    }
    .wrapper-card-gradient-4 {
        bottom: 140px;
    }
    .wrapper-card-text-4 {
        bottom: 100px;
    }
    /*popup i love*/
    .wrapper-popup-i-text {
        padding-top: 25px;
    }
    .wrapper-popup-i-text .title{
        font-size: 36px;
        line-height: 43px;
    }
    .wrapper-popup-i-text .text {
        font-size: 20px;
        line-height: 24px;
    }
    .popup-i-btn {
        font-size: 14px;
        line-height: 17px;
    }
    #popup-i-love p {
        font-size: 14px;
        line-height: 17px;
    }
    .popup-i-top-end {
        font-size: 18px;
        line-height: 22px;
        margin-top: 40px;
        margin-bottom: 60px;
    }

}
@media screen and (max-width: 1089px) {
    .wrapper-i-love {
        margin-top: 80px;
    }
    .i-love-cards-a {
        margin-top: 22px;
        margin-right: 41px;
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 992px) {
    .desctop-text-gallery {
        display: none;
    }
    .mobile-text-gallery {
        display: block;
    }
}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 767px) {
    .wrapper-cards {
        margin-top: 100px;
    }
    .wrapper-card-items {
        min-height: 380px;
    }
    .wrapper-i-love {
        margin-top: 157px;
    }
    .i-love-a .main-text-a {
        font-size: 16px;
        line-height: 19px;
    }
    .card-title {
        font-size: 24px;
        line-height: 29px;
    }
    .wrapper-card-text {
        bottom: 10px;
    }
}
@media (min-width: 680px) and (max-width: 767px) {
    .wrapper-card-items-1 .wrapper-card-img {
        bottom: 90px;
    }
    .wrapper-card-items-1 .wrapper-card-gradient {
        bottom: 90px;
    }
    .wrapper-card-items-1 .wrapper-card-text {
        bottom: 55px;
    }
    .wrapper-card-img-2 {
        bottom: 130px;
    }
    .wrapper-card-gradient-2 {
        bottom: 130px;
    }
    .wrapper-card-text-2 {
        bottom: 95px;
    }
    .wrapper-card-img-4 {
        bottom: 130px;
    }
    .wrapper-card-gradient-4 {
        bottom: 130px;
    }
    .wrapper-card-text-4 {
        bottom: 95px;
    }
    .card-btn {
        height: 357px;
    }
    .wrapper-card-img-3 {
        bottom: 80px;
    }
    .wrapper-card-gradient-3 {
        bottom: 80px;
    }
    .wrapper-card-text-3 {
        bottom: 45px;
    }
}
@media screen and (max-width: 679px) {
    /*popup i love*/
    .wrapper-cards {
        margin-top: 40px;
    }
    .wrapper-popup-i-text {
        padding-top: 25px;
    }
    .wrapper-popup-i-text .title{
        font-size: 36px;
        line-height: 43px;
    }
    .wrapper-popup-i-text .text {
        font-size: 20px;
        line-height: 24px;
    }
    .popup-i-btn {
        font-size: 12px;
        line-height: 14px;
        margin-top: 30px;
    }
    #popup-i-love p {
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
    }
    .popup-i-top-end {
        font-size: 16px;
        line-height: 19px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .wrapper-popup-i-img-mimi {
        height: 50px;
    }

    .i-love-cards-a {
        margin-top: 19px;
        margin-right: 32px; }
}
@media screen and (max-width: 679px) {
    .wrapper-i-love {
        margin-top: 363px;
    }
    .wrapper-card-items {
        min-height: 380px;
    }
    .wrapper-i-love {
        margin-top: 157px;
    }
    .card-title {
        font-size: 24px;
        line-height: 29px;
    }
    .wrapper-card-img {
        bottom: -90px;
    }
    .wrapper-card-gradient {
        bottom: -90px;
    }
    .wrapper-card-text {
        bottom: -115px;
    }
    .card-btn {
        height: 140px;
    }
    .wrapper-card-items-1 {
        min-height: 200px;
    }
}
@media screen and (max-width: 679px) {
    .wrapper-i-love {
        margin-top: 363px;
    }
    .wrapper-card-items {
        min-height: 380px;
    }
    .wrapper-i-love {
        margin-top: 80px;
    }
    .card-title {
        font-size: 24px;
        line-height: 29px;
    }
    .wrapper-card-img {
        bottom: -90px;
        width: 100%;
        padding-right: 30px;
    }
    .wrapper-card-gradient {
        bottom: -90px;
    }
    .wrapper-card-text {
        bottom: -125px;
    }
    .card-btn {
        height: 140px;
    }
    .wrapper-card-btn {
        width: 92.5%;
        max-width: 624px;
    }
    .wrapper-card-items-1 {
        min-height: 200px;
    }
    /*popup i love*/
    #popup-i-love .container-fluid {
        margin-left: 0;
    }
    .wrapper-popup-i-text {
        padding-top: 25px;
    }
    .wrapper-popup-i-text .text {
        margin-left: 0px;
        margin-top: 20px;
        display: block;
    }
    .popup-i-btn {
        font-size: 12px;
        line-height: 14px;
        margin-top: 30px;
    }
    #popup-i-love p:first-child {
        margin-top: 40px;
    }
}

@media (min-width: 1600px) and (max-width: 1920px) {
    #compact .wrapper-card-img-3 {
        bottom: 30px;
        max-height: 460px;
    }
    #compact .wrapper-card-img-5 {
        bottom: 90px;
    }
}
@media (min-width: 1410px) and (max-width: 1600px) {
    #compact .wrapper-card-img-3 {
        bottom: 30px;
        max-height: 310px;
    }
    #compact .wrapper-card-img-5 {
        bottom: 90px;
    }
}
@media (min-width: 680px) and (max-width: 1090px) {
    #compact-i-love .card-item { height: 1px; margin-right: 40px; }
    #compact-i-love .wrapper-card-img { left: 20px; right: 20px; }
    #compact-i-love .wrapper-card-btn { left: 20px; right: 20px; width: auto; max-width: 100%;}
}