/*.slick-slide {
    width: 860px;
    height: 600px;
    transition: .5s;
}*/
.slick-current {
    box-shadow: 79px 0px 69px -54px rgba(0,0,0,0.64);
    border-radius: 20px;
}
#stories .story:first-child {
    transform: translateX(6px);
}
.storiesWrapper {
    width: 100%;
    height: 600px;
    position: relative;
    clear: both;
    overflow: hidden;
}
.story {
    border-radius: 20px;
    box-shadow: 70px 0px 62px -54px rgba(0,0,0,0.64);
    opacity: 1;
    transition: .5s;
}
.item-preview:after {
    pointer-events: none;
    content: "";
	display: block;    
	width: 50%;
    height: 100%;
    position: absolute;
	top: 0;      
    left: 0; 
    background: transparent;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 99.65%);
}
.item-preview img {
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
    transition: .5s;
}
.story a {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.story img {
    max-width: 100%;
    height: 100%;
}
.next {
    position: absolute;
    bottom: 290;
    right: 0;
    width: 42px;
    height: 80px;
    transition: .5s;
}
.story:hover .item-preview img{
    filter: brightness(80%);
}
.next:hover {
    transform: translateX(10px);
}
.carousel-text {
    position: absolute;
    z-index: 11;
}
.left-block-dn {
    position: absolute;
    z-index: 10;
    background: #fff;
    height: 100%;
    width: 471px;
}
.main-name-story {
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 80px;
    margin-top: 140px;
}
.carousel-text {
    position: absolute;
    height: 100%;
    width: 860px;
    pointer-events: none;
}
.text-for-slaider, .text-for-slaider-designer, .text-for-slaider-name-client { display: none; }
.story-user { position: absolute; top: 120px; }
.user-text-story { font-weight: bold; font-size: 36px; line-height: 43px; }
.story-client { position: absolute; bottom: 80px; font-size: 16px; line-height: 19px; color: #787878; }
.name-client { font-weight: bold; font-size: 20px; line-height: 24px; color: #000000; }
.text-mobile-story { display: none; }

@media screen and (max-width: 1410px) {
    .main-name-story { font-size: 52px; line-height: 62px; margin-bottom: 60px; margin-top: 120px; }
    .carousel-text { width: 650px; }
    .story-user { top: 100px; }
    .user-text-story { font-size: 30px; line-height: 36px; }
    .name-designer-story { font-size: 18px; line-height: 22px; }
    .story-client { bottom: 60px; font-size: 14px; line-height: 17px; }
    .name-client { font-size: 18px; line-height: 22px; }
    .storiesWrapper { height: 500px; }
    .left-block-dn { width: 339px; }
    .next { height: 146px; bottom: 150px; right: 0; }
}

@media screen and (max-width: 1090px) {
    .main-name-story { font-size: 52px; line-height: 62px; margin-bottom: 60px; margin-top: 120px; }
    .carousel-text { width: 490px; }
    .left-block-dn { width: 259px; }
    .next { height: 146px; bottom: 150px; right: 0; }
}
@media screen and (max-width: 680px) {
    .story-client { display: none; }
    .next { display: none; }
    .story { box-shadow: none; }
    .no-padding-story { padding-left: 0; padding-right: 0; }
    #stories { transform: translateX(0px); width: 100%;}
    .left-block-dn { display: none; }
    .story-user { display: none; }
    .text-mobile-story { display: block; }
}